body {
    font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #b9b4e6;
}

header {
    color: black;
    padding: 1em;
    text-align: center;
}

nav a {
    color: black;
    margin: 0 1em;
    text-decoration: none;
}

main {
    padding: 2em;
}

footer {
    text-align: center;
    background-color: #b9b4e6;
    padding: 1em;
    margin-top: 4rem;
}
